@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/Cera Pro Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/Cera Pro Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/Cera Pro Black.otf") format("opentype");
  font-weight: 900;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
  font-size: 1vw;
  --transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cera Pro", sans-serif;
  text-align: center;
}

.hexagon {
  --size: 17.19vw;
  --margin-y: calc(var(--size) * -0.175);
  --margin-x: calc(var(--size) * -0.05);
  width: var(--size);
  height: calc(var(--size) * 1.15);
  margin: var(--margin-y) var(--margin-x);
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0px 8px 3px rgba(0, 0, 0, 0.25));
  color: #FFF;
}
.hexagon:not(:has(> a)) {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.hexagon .item__title {
  font-weight: 500;
  font-size: calc(var(--size) / 8);
  margin: 0;
  max-width: 80%;
}
.hexagon .item__text {
  font-size: calc(var(--size) / 15);
  margin: 0;
  font-weight: 500;
}
.hexagon .item__img {
  height: calc(var(--size) / 5);
  width: calc(var(--size) / 5);
  border-radius: 50%;
  overflow: hidden;
  transition: filter var(--transition);
}
.hexagon .item__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hexagon > a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.hexagon__content {
  position: absolute;
  width: 100%;
  height: 97%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hexagon svg {
  stroke: #000;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform var(--transition), fill var(--transition);
}
.hexagon--yellow {
  color: #000;
}
.hexagon--yellow svg {
  fill: #EDBD13;
}
.hexagon--white {
  color: #000;
}
.hexagon--white svg {
  fill: #FFFFFF;
}
.hexagon--gray svg {
  fill: #666666;
}
.hexagon--text-white {
  color: #FFF;
}
.hexagon--large {
  --size: 22.95vw;
}
.hexagon--medium {
  --size: 15vw;
}
.hexagon--small {
  --size: 7vw;
}
.hexagon--xsmall {
  --size: 4.5vw;
}
.hexagon--xxsmall {
  --size: 3.5vw;
}
.hexagon--hidden {
  visibility: hidden;
}

.corners {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
}
.corners .hexagon {
  position: absolute;
  filter: none;
}
.corners .hexagon svg {
  stroke-width: 0;
}
.corners .hexagon--tl {
  top: 0;
  left: 0;
}
.corners .hexagon--tr {
  top: 0;
  right: 0;
}
.corners .hexagon--br {
  bottom: 0;
  right: 0;
}
.corners .hexagon--bl {
  bottom: 0;
  left: 0;
}
.corners--style1 .hexagon--tl {
  transform: translate(-46%, -50%);
}
.corners--style1 .hexagon--tr {
  transform: translate(50%, -50%);
}
.corners--style1 .hexagon--br {
  transform: translate(78%, 31%) rotateZ(49deg);
}
.corners--style1 .hexagon--bl {
  transform: translate(-25%, 64%) rotateZ(28deg);
}
.corners--style2 .hexagon--tl {
  left: 35%;
  transform: translate(0, -62%) rotate(76deg);
}
.corners--style2 .hexagon--tr {
  transform: translate(70%, 40%) rotateZ(9deg);
}
.corners--style2 .hexagon--br {
  right: 50%;
  transform: translate(78%, 55%) rotateZ(49deg);
}
.corners--style2 .hexagon--bl {
  transform: translate(-38%, 63%) rotateZ(36deg);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.main__style2 {
  align-items: flex-start;
  justify-content: flex-end;
  padding: 8vw 5vw;
}
.main__style2 .main__container {
  justify-content: flex-start;
  max-width: 70vw;
  width: 1350px;
  height: 100%;
}
.main__form {
  flex: 1;
  max-width: 500px;
}
.main .hexagon--tr--home {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-145%, 40%);
}
.main .hexagon--tr--home img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 35vw;
  gap: 1%;
}
.main__links {
  align-self: flex-start;
}
.main__links .our-products {
  margin-bottom: 0.9vw;
}
.main__inner {
  display: flex;
  justify-content: center;
  gap: 1%;
}
.main__inner--top {
  align-items: flex-end;
}
.main__inner--top .main__item--left {
  margin-bottom: 5%;
}
.main__inner--top .main__item--right {
  margin-bottom: 5%;
}
.main__inner--bottom {
  align-items: flex-start;
}
.main__inner--bottom .main__item--right, .main__inner--bottom .main__item--left {
  margin-top: 10%;
}
.main__inner--bottom .main__item--right svg, .main__inner--bottom .main__item--left svg {
  filter: drop-shadow(0px 8px 3px rgba(0, 0, 0, 0.25));
  stroke-width: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  position: absolute;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 10;
}
.sidebar--l1 {
  left: -5vw;
}
.sidebar--l2 {
  left: -11.5vw;
}
.sidebar__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2vw;
}

.our-products__title {
  font-weight: 500;
  color: #FFFFFF;
  font-size: 2rem;
}
.our-products a {
  height: 1.5vw;
  width: 3vw;
  border-radius: 50%;
  display: inline-flex;
  position: relative;
  align-items: center;
  z-index: 1;
}
.our-products a::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  background-color: #FFFFFF;
  z-index: -1;
}
.our-products a img {
  height: 100%;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 40%;
}
.our-products a:hover img {
  animation: left-right 2s linear infinite;
}

.add-coupon__title {
  margin: 0;
  font-weight: 900;
  font-size: 0.9rem;
  color: #FFFFFF;
  max-width: 80%;
}
.add-coupon__title--small {
  font-weight: 500;
  font-size: 0.8rem;
}

.product, .link {
  pointer-events: none;
}
.product .item__title, .link .item__title {
  margin-top: 0.83rem;
  font-weight: 900;
}
.product a, .link a {
  pointer-events: all;
}
.product:has(a:hover) a, .link:has(a:hover) a {
  transition: color var(--transition);
  color: #FFF;
}
.product:has(a:hover) img, .link:has(a:hover) img {
  filter: invert(1) saturate(0);
}
.product:has(a:hover) svg, .link:has(a:hover) svg {
  transform: rotateZ(-180deg);
  fill: #000;
}

.link .item__title {
  margin: 0;
}
.link:has(a:hover) a {
  color: #000;
}
.link:has(a:hover) svg {
  fill: #fff;
}

@keyframes left-right {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10%);
  }
  75% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
.mb-2 {
  margin-bottom: 1vw;
}

form .form-control {
  --background-color: #f1f1f1;
  margin-left: 2.5rem;
  position: relative;
  margin-bottom: 20px;
}
form .form-control__border {
  position: relative;
  border: 1px solid #666666;
  border-left: 0;
  border-right: 0;
  background-color: var(--background-color);
}
form .form-control__border::before, form .form-control__border::after {
  content: "";
  position: absolute;
  height: 58%;
  width: 20px;
  background-color: var(--background-color);
  border-right: 1px solid #666666;
  right: 0;
  bottom: 0;
  transform: rotateZ(30deg);
  transform-origin: 100% 100%;
}
form .form-control__border::after {
  top: 0;
  transform: rotateZ(-30deg);
  transform-origin: 100% 0;
}
form .form-control label {
  color: transparent;
  position: absolute;
  font-size: 0;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
form .form-control label .hexagon {
  left: -50%;
  -webkit-clip-path: none;
          clip-path: none;
  width: -moz-max-content;
  width: max-content;
  height: 120%;
}
form .form-control label .hexagon svg {
  transform: rotateZ(30deg);
  stroke: #FFF;
  stroke-width: 4px;
}
form .form-control label img {
  height: 30%;
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}
form .form-control input {
  font-size: 1.5rem;
  padding: 0.3em 0.5em 0.3em 1.5em;
  font-weight: 300;
  font-family: inherit;
  outline: none;
  border: none;
  background-color: transparent;
}
form .form-control input[type=email], form .form-control input[type=text], form .form-control input[type=password] {
  width: 100%;
}
form .form-control input[type=checkbox] {
  display: none;
}
form .form-control input[type=checkbox] ~ label {
  font-size: inherit;
  color: inherit;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -0.7rem;
  color: #666666;
}
form .form-control input[type=checkbox] ~ label .hexagon {
  height: 20px;
  width: 70px;
  left: 0;
  filter: none;
}
form .form-control input[type=checkbox] ~ label .hexagon svg {
  fill: #f1f1f1;
  stroke: #000;
}
form .form-control input[type=checkbox]:checked ~ label .hexagon svg {
  fill: #000;
}

.form-submit button {
  display: inline-block;
}
.form-submit .hexagon {
  height: 20px;
  width: 70px;
  filter: none;
  display: inline-block;
}
.form-submit .hexagon svg {
  fill: #f1f1f1;
  stroke: #000;
}