@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

// @font-face {
//   font-family: 'Cera Pro';
//   src: url('../fonts/Cera\ Pro\ Regular\ Italic.otf') format('opentype');
//   font-style: italic;
// }

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/Cera\ Pro\ Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/Cera\ Pro\ Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/Cera\ Pro\ Black.otf') format('opentype');
  font-weight: 900;
}







* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
  font-size: 1vw;
  --transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cera Pro', sans-serif;
  text-align: center;
}

.hexagon {
  --size: 17.19vw;
  --margin-y: calc(var(--size) * -0.175);
  --margin-x: calc(var(--size) * -0.05);
  width: var(--size);
  height: calc(var(--size) * 1.15);
  margin: var(--margin-y) var(--margin-x);
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0px 8px 3px rgba(0, 0, 0, 0.25));
  color: #FFF;

  &:not(:has(>a)) {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }

  .item {


    &__title {
      font-weight: 500;
      font-size: calc(var(--size) / 8);
      margin: 0;
      max-width: 80%;
    }

    &__text {
      font-size: calc(var(--size) / 15);
      margin: 0;
      font-weight: 500;
    }

    &__img {
      height: calc(var(--size) / 5);
      width: calc(var(--size) / 5);
      border-radius: 50%;
      overflow: hidden;
      transition: filter var(--transition);

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

  }

  >a {
    display: block;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 97%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  svg {
    stroke: #000;
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: transform var(--transition), fill var(--transition);
  }


  &--yellow {
    color: #000;

    svg {
      fill: #EDBD13;
    }
  }

  &--white {
    color: #000;

    svg {
      fill: #FFFFFF;

    }
  }

  &--gray svg {
    fill: #666666
  }

  &--text-white {
    color: #FFF;
  }

  &--large {
    --size: 22.95vw;
  }

  &--medium {
    --size: 15vw;
  }

  &--small {
    --size: 7vw;
  }

  &--xsmall {
    --size: 4.5vw;
  }

  &--xxsmall {
    --size: 3.5vw;
  }

  &--hidden {
    visibility: hidden;
  }
}

.corners {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;

  .hexagon {
    position: absolute;
    filter: none;

    svg {
      stroke-width: 0;
    }

    &--tl {
      top: 0;
      left: 0;
    }

    &--tr {
      top: 0;
      right: 0;
    }

    &--br {
      bottom: 0;
      right: 0;
    }

    &--bl {
      bottom: 0;
      left: 0;
    }

  }

  &--style1 {
    .hexagon {
      &--tl {
        transform: translate(-46%, -50%);
      }

      &--tr {
        transform: translate(50%, -50%);
      }

      &--br {
        transform: translate(78%, 31%) rotateZ(49deg);
      }

      &--bl {
        transform: translate(-25%, 64%) rotateZ(28deg);
      }
    }
  }

  &--style2 {
    .hexagon {
      &--tl {
        left: 35%;
        transform: translate(0, -62%) rotate(76deg);
      }

      &--tr {
        transform: translate(70%, 40%) rotateZ(9deg);
      }

      &--br {
        right: 50%;
        transform: translate(78%, 55%) rotateZ(49deg);
      }

      &--bl {
        transform: translate(-38%, 63%) rotateZ(36deg);
      }
    }
  }
}

.main {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;

  &__style2 {
    align-items: flex-start;
    justify-content: flex-end;
    padding: 8vw 5vw;

    .main__container {
      justify-content: flex-start;
      max-width: 70vw;
      width: 1350px;
      height: 100%;
    }


  }

  &__form {
    flex: 1;
    max-width: 500px;
  }



  .hexagon--tr--home {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-145%, 40%);

    img {
      width: 50%;
      height: 50%;
      object-fit: contain;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 35vw;
    gap: 1%;
  }

  &__links {
    align-self: flex-start;

    .our-products {
      margin-bottom: 0.9vw;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    gap: 1%;

    &--top {
      align-items: flex-end;

      .main__item {
        &--left {
          margin-bottom: 5%;
        }

        &--right {
          margin-bottom: 5%;
        }
      }
    }

    &--bottom {
      align-items: flex-start;

      .main__item {


        &--right,
        &--left {
          margin-top: 10%;

          svg {

            filter: drop-shadow(0px 8px 3px rgba(0, 0, 0, 0.25));
            stroke-width: 0;
          }
        }
      }
    }

  }


}

a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

}

.sidebar {
  position: absolute;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 10;

  &--l1 {
    left: -5vw;
  }

  &--l2 {
    left: -11.5vw;
  }


  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2vw;
  }
}

.our-products {
  &__title {
    font-weight: 500;
    color: #FFFFFF;
    font-size: 2rem;
  }

  a {
    height: 1.5vw;
    width: 3vw;
    border-radius: 50%;
    display: inline-flex;
    position: relative;
    align-items: center;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 50%;
      border-radius: 50%;
      background-color: #FFFFFF;
      z-index: -1;
    }


    img {
      height: 100%;
      width: 50%;
      object-fit: contain;
      position: absolute;
      left: 40%;
    }

    &:hover {
      img {
        animation: left-right 2s linear infinite;
      }
    }
  }
}

.add-coupon {



  &__title {
    margin: 0;
    font-weight: 900;
    font-size: 0.9rem;
    color: #FFFFFF;
    max-width: 80%;

    &--small {
      font-weight: 500;
      font-size: 0.8rem;
    }
  }
}

.product {

  pointer-events: none;

  .item {


    &__title {
      margin-top: 0.83rem;
      font-weight: 900;
    }
  }

  a {
    pointer-events: all;
  }

  &:has(a:hover) {
    a {
      transition: color var(--transition);
      color: #FFF;
    }

    img {
      filter: invert(1) saturate(0);
    }

    svg {
      transform: rotateZ(-180deg);
      fill: #000;
    }
  }

}

.link {
  @extend .product;

  .item {
    &__title {
      margin: 0;
    }
  }

  &:has(a:hover) {
    a {
      color: #000;
    }

    svg {
      fill: #fff;
    }
  }
}



@keyframes left-right {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10%);
  }

  75% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0);
  }
}

.mb-2 {
  margin-bottom: 1vw;
}

form {
  .form-control {
    --background-color: #f1f1f1;
    margin-left: 2.5rem;
    position: relative;
    margin-bottom: 20px;

    &__border {
      position: relative;
      border: 1px solid #666666;
      border-left: 0;
      border-right: 0;
      background-color: var(--background-color);

      &::before {
        content: '';
        position: absolute;
        height: 58%;
        width: 20px;
        background-color: var(--background-color);
        border-right: 1px solid #666666;
        right: 0;
        bottom: 0;
        transform: rotateZ(30deg);
        transform-origin: 100% 100%;
      }

      &::after {
        @extend ::before;
        top: 0;
        transform: rotateZ(-30deg);
        transform-origin: 100% 0;
      }
    }


    label {
      color: transparent;
      position: absolute;
      font-size: 0;
      top: 0;
      left: 0;
      height: 100%;
      display: flex;
      align-items: center;

      .hexagon {
        left: -50%;
        clip-path: none;
        width: max-content;
        height: 120%;

        svg {
          transform: rotateZ(30deg);
          stroke: #FFF;
          stroke-width: 4px;
        }
      }

      img {
        height: 30%;
        width: 30%;
        object-fit: contain;
      }
    }

    input {
      font-size: 1.5rem;
      padding: 0.3em 0.5em 0.3em 1.5em;
      font-weight: 300;
      font-family: inherit;
      outline: none;
      border: none;
      background-color: transparent;


      &[type='email'],
      &[type='text'],
      &[type='password'] {
        width: 100%;
      }

      &[type='checkbox'] {
        display: none;

        ~label {
          font-size: inherit;
          color: inherit;
          position: relative;
          display: flex;
          align-items: center;
          margin-top: -0.7rem;
          color: #666666;

          .hexagon {
            height: 20px;
            width: 70px;
            left: 0;
            filter: none;

            svg {
              fill: #f1f1f1;
              stroke: #000;
            }
          }
        }

        &:checked {
          ~label {
            .hexagon {
              svg {
                fill: #000;
              }
            }
          }
        }

      }


    }
  }
}

.form-submit {

  button {
    display: inline-block;
  }

  .hexagon {
    height: 20px;
    width: 70px;
    filter: none;
    display: inline-block;

    svg {
      fill: #f1f1f1;
      stroke: #000;
    }
  }
}